<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a(href="/admin/add-product") Add Product
        main
            .grid
                if prods.length > 0
                    each product in prods
                        article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://lh3.googleusercontent.com/proxy/woGQcgUcsTCbulkaP43BxLQFpYzXfDVtVSto8EsZNICJEeiif6Xav4U535-l9EhEgdVDiPIx3PLB9TzJQRdko5X3LOttP11twZMat0jTjuZ7uw63IDBYPw1W1HT2vHFWme4w", alt="dog holding leash")
                        .card__content
                            h2.product__price $19.99
                            p.product__description Strongest leash money can buy!
                        .card__actions
                            button.btn Add to Cart
                else
                    h1 No Products